@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,500;1,500&display=swap');
@font-face {
    font-family: "Mulish";
    src: url(/techbulger/styles/fonts/Mulish-VariableFont_wght.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Mulish-Light";
    src: url(/techbulger/styles/fonts/Mulish-Italic-VariableFont_wght.ttf);
    font-weight: 300;
}
@font-face{
    font-family: "Mulish-Bold";
    src: url(/techbulger/styles/fonts/static/Mulish-Bold.ttf);
    font-weight: 700;
}
body{
    margin: 4%;
    line-height: 28px;/*Sortávolság*/
}
html{
    font-family: 'Fira Sans', 'Mulish', Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    text-align: center;
    color: brown;
}
h2,h3{
    color: green;
}
p{
    text-align: justify;
    font-family: 'Mulish';
}
ul,ol,link{
    font-family: 'Mulish-Bold';
    text-align: left;
    text-transform: capitalize;/*Szókezdő betűket nagyá teszi*/
    color: lightslategray;
}
img{
    width: 25%;
}